@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Source+Sans+Pro:wght@600&family=Ubuntu+Mono&display=swap');

body {
  background-color: aquamarine;
}

#editor {
  font-family: 'Ubuntu Mono' monospace;
  width: 80%;
  resize: none;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 1px 2px 5px 2px gray;
  outline-color: dodgerblue;
}

#preview {
  
  background-color: white;
  padding: 30px;
  text-align: left;
  color: black;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 1px 2px 5px 1px gray;
}
#preview code {
  background-color: black;
  color: white;
  padding: 5px;
}
#preview img {
  width: 50%;
}

.header {
  
  font-family: 'EB Garamond', serif;
}

pre {
  display: block;
  overflow: auto;
  background: black;
  padding: 5px;
  line-height: 1.4;
  color: white;
}